.sqr{
    background-color: black;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.span{
    display: none;
    font-family: monospace;
    font-size: xx-large;
}

.sqr:hover > .span{
    display: inline;
}